---
name: Bazel files linter
on:
  workflow_call:
jobs:
  formatting-check:
    name: Run buildifier check
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Run buildifier
        uses: jbajic/buildifier@c9f11065442c33bc0a9a54fd17b934266360d762 # v1.0.1
        with:
          buildifier-version: 7.3.1
