---
name: Run clang-format Linter
on:
  workflow_call:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: jidicula/clang-format-action@v4.13.0 # latest
        with:
          clang-format-version: '18'
