---
name: Mark stale issues and pull requests
on:
  workflow_call:
permissions:
  contents: read

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/stale@5f858e3efba33a5ca4407a664cc011ad407f2008 # v10.1.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          stale-issue-message: Stale issue message. Please comment to remove stale
            tag. Otherwise this issue will be closed soon.
          stale-pr-message: Stale pull request message. Please comment to remove stale
            tag. Otherwise this pr will be closed soon.
          stale-issue-label: no-issue-activity
          exempt-issue-labels: never-stale, OSCP
          stale-pr-label: no-pr-activity
          days-before-stale: 30
          days-before-close: 7
          exempt-all-assignees: true
