---
name: Yaml Lint
on:
  workflow_call:
permissions:
  contents: read

jobs:
  lintAllTheThings:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: yaml-lint
        uses: ibiqlik/action-yamllint@2576378a8e339169678f9939646ee3ee325e845c # v3.1.1
        with:
          config_data: |
            rules:
              line-length:
                max: 300
                allow-non-breakable-words: true
                allow-non-breakable-inline-mappings: true
